body{
	background-image: url(images/fondo.jpg);
	font-family: Arial;
}


.sabores{
	float: left;
	width: 300px;
	height: auto;
}

.amarillo{
	border: solid 4px black;
	background-color: yellow;
	clear: both;
	float:left;
	height: 40px;
	margin-left: 100px;
	margin-top: 200px;
	width: 80px;
	
}

.amarillo h6{
	text-align: center;
	margin-top: 15px;
}

.verde{
	border: solid 4px black;
	background-color: green;
	clear: both;
	float:left;
	height: 40px;
	margin-left: 100px;
	margin-top: 20px;
	width: 80px;
	
}

.verde h6{
	text-align: center;
	margin-top: 15px;
}

.anaranjado{
	border: solid 4px black;
	background-color: orange;
	clear: both;
	float:left;
	height: 40px;
	margin-left: 100px;
	margin-top: 20px;
	width: 80px;
}

.anaranjado h6{
	text-align: center;
	margin-top: 15px;
}

.rojo{
	border: solid 4px black;
	background-color: red;
	clear: both;
	float:left;
	height: 40px;
	margin-left: 100px;
	margin-top: 20px;
	width: 80px;
}

.rojo h6{
	text-align: center;
	margin-top: 15px;
}

.circulo{
	border-radius: 50%;
	background-image: url(images/pizza.jpg);
	float: left;
	height: 500px;
	width: 500px;
	margin-left: 220px;
	margin-top: 100px;
}

.rebanada1{
	background-image: url(hawaiana/re1.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada1:hover{
	opacity: 0.5;
}


.rebanada2{
	background-image: url(hawaiana/re2.png);
	float:left;
	height: 250px;
	width: 125px;
}

.rebanada2:hover{
	opacity: 0.5;
}

.rebanada3{
	background-image: url(hawaiana/re3.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada3:hover{
	opacity: 0.5;
}

.rebanada4{
	background-image: url(hawaiana/re4.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada4:hover{
	opacity: 0.5;
}


.rebanada5{
	background-image: url(hawaiana/re5.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada5:hover{
	opacity: 0.5;
}


.rebanada6{
	background-image: url(hawaiana/re6.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada6:hover{
	opacity: 0.5;
}


.rebanada7{
	background-image: url(hawaiana/re7.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada7:hover{
	opacity: 0.5;
}


.rebanada8{
	background-image: url(hawaiana/re8.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada8:hover{
	opacity: 0.5;
}

/*----------------------------------*/

.rebanada9{
	background-image: url(mexicana/mexicana1.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada9:hover{
	opacity: 0.5;
}

.rebanada10{
	background-image: url(mexicana/mexicana2.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada10:hover{
	opacity: 0.5;
}

.rebanada11{
	background-image: url(mexicana/mexicana3.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada11:hover{
	opacity: 0.5;
}

.rebanada12{
	background-image: url(mexicana/mexicana4.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada12:hover{
	opacity: 0.5;
}

.rebanada13{
	background-image: url(mexicana/mexicana5.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada13:hover{
	opacity: 0.5;
}

.rebanada14{
	background-image: url(mexicana/mexicana6.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada14:hover{
	opacity: 0.5;
}

.rebanada15{
	background-image: url(mexicana/mexicana7.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada15:hover{
	opacity: 0.5;
}

.rebanada16{
	background-image: url(mexicana/mexicana8.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada16:hover{
	opacity: 0.5;
}

/*------------------------------------------*/

.rebanada17{
	background-image: url(pastor/pastor1.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada17:hover{
	opacity: 0.5;
}

.rebanada18{
	background-image: url(pastor/pastor2.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada18:hover{
	opacity: 0.5;
}

.rebanada19{
	background-image: url(pastor/pastor3.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada19:hover{
	opacity: 0.5;
}

.rebanada20{
	background-image: url(pastor/pastor4.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada20:hover{
	opacity: 0.5;
}

.rebanada21{
	background-image: url(pastor/pastor5.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada21:hover{
	opacity: 0.5;
}

.rebanada22{
	background-image: url(pastor/pastor6.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada22:hover{
	opacity: 0.5;
}

.rebanada23{
	background-image: url(pastor/pastor7.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada23:hover{
	opacity: 0.5;
}

.rebanada24{
	background-image: url(pastor/pastor8.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada24:hover{
	opacity: 0.5;
}

/*------------------------------------------------------------*/

.rebanada25{
	background-image: url(peperoni/peperoni1.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada25:hover{
	opacity: 0.5;
}

.rebanada26{
	background-image: url(peperoni/peperoni2.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada26:hover{
	opacity: 0.5;
}
.rebanada27{
	background-image: url(peperoni/peperoni3.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada27:hover{
	opacity: 0.5;
}
.rebanada28{
	background-image: url(peperoni/peperoni4.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada28:hover{
	opacity: 0.5;
}
.rebanada29{
	background-image: url(peperoni/peperoni5.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada29:hover{
	opacity: 0.5;
}
.rebanada30{
	background-image: url(peperoni/peperoni6.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada30:hover{
	opacity: 0.5;
}
.rebanada31{
	background-image: url(peperoni/peperoni7.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada31:hover{
	opacity: 0.5;
}
.rebanada32{
	background-image: url(peperoni/peperoni8.png);
	float: left;
	height: 250px;
	width: 125px;
}

.rebanada32:hover{
	opacity: 0.5;
}
